// Media

@media screen and (max-width: 1240px){
	.mainMenu{
		.pull-right{
			position: absolute;
			right: 15px;
			top: 0;
			&.shown{
				input[type="text"]{
					width: 232px;
					@include opacity(1);
					@include transition(all, 0.3s);
				}
				input[type="submit"]{
					display: block;
				}
			}
		}
		input[type="text"]{
			width: 0;
			@include opacity(0);
		}
		input[type="submit"]{
			display: none;
		}
	}
	.sliderOnMain .slideTexting{
		left: 15px;
	}
	.fCol{
		margin-right: 15px;
		width: 200px;
	}

}

@media screen and (max-width: 1024px){

	.hLinks{
		display: inline-block !important;
		.link{
			display: block;
			margin-right: 0;
			height: 25px;
		}
	}
	.menuWrapp{ 
		padding: 0;
		min-width: 0;
	}
	.mainMenu{
		li{
			a{
				padding: 0 15px;
			}
		}		
	}
	
	.fCol{
		width: 175px;
		&:last-child{
			width: 200px; 
		}
	}
	.recCol{
		width: 305px;
	}
	.logosCarusel {
		.navi{
			.cTitle{
				font-size: 12px;
				span{
					span{
						font-size: 24px;
					}
				}
			}
		} 
	}
	.blockTitle{
		font-size: 32px;
	}
	.paddinged{
		padding:0 20px;
	}
	.sliderOnMain {
		.slideText{
			font-size: 18px; 
		}
	}
	
}
@media screen and (max-width: 959px){

	#pageHTML.openMenu{
		height: 100% !important;
		.menuWrapp{
			overflow: scroll;
			overflow-x: auto;
			height: 100%;
			background:$white;
			z-index: 10;
			width: 280px;
			position: absolute;
			right: 0;
			-webkit-overflow-scrolling: touch;
		}
		#menu{
			// right: 0;
			-webkit-transform: translate3d(-280px,0,0);
			transform: translate3d(-280px,0,0);
			-webkit-transition: -webkit-transform 0.4s;
			transition: transform 0.4s;
			-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
			transition-timing-function: cubic-bezier(0.7,0,0.3,1);
			height: 100%;
			background:#fff;

		}
		&:after{
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			background:rgba($white, 0.7);
			top: 0;
			bottom: 0;
			z-index: 10;
			content:"";
		}
		#footer{
			display: none;
		}
	}
	#menu{
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
		-webkit-transition: -webkit-transform 0.4s;
		transition: transform 0.4s;
		-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
		transition-timing-function: cubic-bezier(0.7,0,0.3,1);

		position: absolute;
		width: 280px;
		z-index: 100;
		top: 0;
		right: 0;
		min-height: 100%;
		min-width: 0;
		right: -280px;
		background:$white;
		
		.inner.nav {
			background:$green;
			padding-bottom: 20px;
		}
		li{
			display: block;
		}
		.ad-menu-ico{
			width: 87px;
			height: 88px !important;
			display: inline-block !important;
			vertical-align: top;
			position: relative;
			.ico{
				@include alignCenter();
				height: 20px;
				@include sprite($arrow-big);
				display: block;
				padding: 0;
			}
			form{
				height: 100%;
			}
			&.search{
				.ico{
					width: 20px;
					height: 20px;
					background-position: $search-icon-middle-offset-x $search-icon-middle-offset-y;
				}
			}
			&.mail{
				.ico{
					width: 30px;
					height: 20px;
					background-position: $mail-icon-white-offset-x $mail-icon-white-offset-y;
				}
			}
			&.siteMap{
				.ico{
					width: 32px;
					height: 20px;
					background-position: $sitemap-icon-white-offset-x $sitemap-icon-white-offset-y;
				}
			}
		}
		.hPhones{
			display: block;
			padding: 30px;
			margin-top: 0;
			background: $white;
			.hPhone{
				margin-bottom: 20px;
				text-align: left;
			}
		}
		.pull-right{
			float:none !important;
			position: relative;
			right: auto;
		}
	}
	#header{
		height: 88px;
		.hPhones,
		.hLinks{
			display: none !important;
		}
		.logo{
			img{
				height: 65px;
			}
		}
	}
	#containerHeader{
		height: 65px;
	}
	.mainMenu{
		&#menu {
			padding-left: 0;
			padding-right: 0;
			input[type="text"]{
				position: absolute;
				top: 30px;
				left: 20px;

			}
			li{
				a{
					padding: 0 30px;
				}
			}
			.shown{
				.ico{
					display: none;
				}
			}
			input[type="submit"]{
				top: 36px;
				left: 25px;
			}
		}
	}
	.sliderOnMain{
		.slideTitle{
			font-size: 48px; 
		}
	}
	#menuButton{
		display: block;
	}
	#containerMain{
		padding-bottom: 640px;
	}
	#footer{
		height: 608px;
		background-size: cover;
		#containerFooter{
			height: 480px;
		}
		.recCol{
			float: left;
			.recCol{
				display: block;
			}
			.devBy{
				display: block;
				position: relative;
				margin-top: 20px;
			}
		}
		.fCols{	
			width: auto;
			margin-left: 315px;
			display: block;
			float: none;
			font-size: 0;
			position: static;
			.fCol{
				width: 30%;
				margin-right: 0;
				padding-right: 15px;
				@include box-sizing(border-box);
				position: static;
				&:nth-child(2){
					width: 38%;
				}
				&:last-child{
					padding-right: 0;
				}
			}
			.devBy{
				display: none;
			}
		}
		.fFilial{
			&.last{
				margin-bottom: 80px;
			}
		}
	}

	.brendsCol{
		width: 33.33%;
	}
	.prodsCol{
		width: 66.66%;
		.row-1-3{
			width: 50%;
		}
	}

	.aboutBlock{
		float: none;
		width: 100%;
		margin-top: 0;
		.img{
			@include imgWrapper(100%, 100%);
			width: 33.33%;
			float: left;
			z-index: 10;
			img{
				min-height: 50% !important;
				min-width: 50% !important;
			}
		}
		.text {
			margin-left: 33.33%;
			height: 100%;
			
			.more{
				bottom: 10px;
			}
		}
		.greenBG{
			&:after{
				height: 60px;
			}
		}
	}
	.newsOnMain{
		float: none;
		width: 100%;
	}
	.logosCarusel{
		.cWrapper{
			margin-left: 16.66%;
		}
		.navi {
			width: 16.66%;
		}
		.slick-prev{
			left: -17%;
		}
		.slick-next{
			left: -10%;
		}
	} 
}

@media screen and (max-width: 767px){

	#footer{
		height: 520px;
		#containerFooter{
			height: 425px;
		}
		.fCols{
			display: none;
		}
	}

	#containerMain{
		padding-bottom: 560px;
	}

	.sliderOnMain{
		.slideTitle{
			font-size: 36px; 
		}
	}

	.prodsCol{
		float: none;
		width: 100%;
	}
	.brendsCol{
		width: 100%;
		float: none;
		.row{
			display: inline-block;
		}
		.slick-track{
			font-size: 0px;
		}
		.brendRows {
			height: auto !important;
		}
	}
	.aboutBlock{
		.img{
			width: 50%;
		}
		.text{
			margin-left: 50%;
		}
	}
	.partnersBlock{
		.navi{
			margin-bottom: 10px;
			.inner{
				padding: 20px;
			}
			float: none;
			width: 100%;
			height: 69px !important;
		}
		.cWrapper {
			margin-left: 0;
		}
		.slick-prev, .slick-next{
			left: auto;
			top: -45px;	
		}
		.slick-prev{			
			right: 50px;			
		}
		.slick-next{
			right: 20px;
		}
		.cTitle{
			span{
				font-size: 24px;
				font-weight: 700;
				text-transform: lowercase;
				span{
					display: inline-block !important;
					text-transform: none;
				}
			}
			
		}
	}

}
@media screen and (max-width: 620px){
	.aboutBlock{
		height: auto !important;
		.img{
			width: 100%;
			float: none;
			height: 160px !important;
			.inner{
				margin-top: -28%;
			}

		}
		.text{
			margin-left: 0;
			height: 290px;
		}
	}
}

@media screen and (max-width: 512px){

	.sliderOnMain{
		.slideTitle{
			font-size: 24px; 
		}
		.slideText{
			font-size: 14px; 
		}
	}
	
	.prodsCol{
		float: none;
		width: 100%;
		.row-1-3{
			.title{
				font-size: 12px;
			}
		}
	}

	.aboutBlock{
		.img{
			.inner{
				margin-top: -50%;
			}

		}
	}

}