// типовые решения
.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.link{
	text-decoration: underline;
	cursor:pointer;
	&:hover{
		text-decoration: none;
	}
}

.clear {
	clear: both;

	width: 100%;
}
.reset {
	float: left;

	width: 100%;
}
.boxCenter {
	margin: 0 auto;
}
#overlay {@include opacity(.5);

	position: absolute;
	z-index: 999;
	top: 0;
	left: 0;

	display: none;

	width: 100%;
	height: 100%;

	background: #000000;
}

form .ng-invalid.ng-dirty, .ng-dirty.invalid
{
    border: 1px solid #ff5400 !important;
}

.popup{
	display: table;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin:auto;
	display: table;
	z-index: 1000;
	//поменять по дизайну
	background:#fff;
	padding: 60px 50px;
	width:0;
}

// Обычное меню в линию
.horizontal-menu{
	font-size: 0;
	li{
		display: inline-block;

		//Опционально
		font-size: 16px;
		height:60px;
		line-height: 60px;
		&>a{
			display: block;
			
			//Опционально
			padding: 0 20px;
		}
	}
}

// Выравнивание по ширине
[class*="-justified"]{
	text-align: justify;
	&:after{
		display: inline-block;
		content:"";
		width: 100%;
		font-size: 0;
	}
	&>div{
		display: inline-block;
	}

	// Без псевдо элемента нужно добавить класс clearDiv и в конце пустой див
	&.clearDiv{
		&>div{
			&:last-child{
				content:"";
				width: 100%;
			}
		}		
		&:after{
			display: none;
		}
	}	
}

.paddinged{
	padding: 0 30px;
	@include box-sizing(border-box);
}
.blockTitle{
	line-height: 85px;
	height: 85px;	
	font-size: 36px;
	font-weight: 700;
	padding-bottom: 0;
}

/// ------------------------------------------------  GRID

//------- vars

$gutter:10px;
$colWidth:24.9%;
$columns:4;

[class*='rows-']{
	margin-right: -$gutter/2;
	margin-left: -$gutter/2;
	font-size: 0;
}

[class*='row-']{
	padding: 0 $gutter/2;
	 margin-bottom: $gutter;
	@include box-sizing(border-box);
	font-size: 14px;
	display: inline-block;
	vertical-align: top;
	&.noMargin{
		margin-bottom: 0;
	}
}

@for $i from 1 through $columns {
	@for $b from 1 through $columns {

		@if $b<=$i{

			.row-#{$b}-#{$i}{
			  width: 100 / $i * $b *1%;
			}

		}
			
	}
}

.date{
	display: block;
	font-size: 12px;
	margin-bottom: 15px;
}

.slick-dots{
	top: -55px;
	text-align: right;
	bottom:auto;
	padding-right: 25px;
	@include box-sizing(border-box);
	li{
		margin: 0;
		button{
			width: 12px;
			height: 12px;
			@include opacity(.1);
			@include border-radius(6px);
			&:hover{
				@include opacity(.2);
			}
			&:before{
				display: none;
			}
		}
	}
	
	.slick-active{
		button{
			@include opacity(1);
		}
	}
}
