/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,700&subset=latin,cyrillic);
@import "compass/css3";
@import "compass/reset";
@import "libs/slick";
@import "additional/sprite";
@import "additional/vars";
@import "additional/mixins";
@import "additional/colors";
@import "additional/resets";
@import "additional/typical";
@import "additional/page";
@import "fa/font-awesome"; 


//-----------------------------------sliderOnMain
.sliderOnMain{
	min-height: 320px;
	.fotorama__stage{
		min-height: 320px;
	}
	.fotorama{
		// min-height: 320px;
	}
	.fotorama__html{
		min-height: 320px;
		&>div{
			@extend %pageWidth;
			height: 100%;
			min-height: 320px;
			.inner{
				left: 0;
				right: 0;
				top: 0;
				height: 100%;
			}
		}
	}
	.inner{
		position: absolute;
	}
	.slideTitle{		
		font-size: 60px;
		font-weight: 700;
		line-height: 1;
		margin-bottom: 5%;
	}
	.slideText{
		font-size: 24px;
		font-weight: 300;
	}
	.slideTexting{
		position: absolute;
		left: 0;
		top: -65px;
		bottom: 0;
		margin: auto 0;
		display: table;
	}
	.fotorama__arr{
		@include sprite($arrow-big);
	}
	.fotorama__arr--next{
		@include flipH();
		right: 10px;
	}
	.fotorama__arr--prev{
		left: 10px;
	}
	img{
		height: 100%;
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
}

.sliderOnMain + .containerMain{
	top: -85px;
}

.brendRows{
	margin-top: 10px ;
	margin-bottom: 0px !important;
	padding-bottom: 3px ;
	.row{
		display: block;
		min-height: 100px;
		margin: 0;
		&:last-child{
			.wrap{
				border-bottom: 0;

			}
		}
		a{
			display: block;
		}
	}
	img{
		@include alignCenter();
		max-width: 80%;
		max-height: 90%;
	}
	.wrap{
		border-bottom-width: 1px;
		border-bottom-style: solid;
		height: 100%;
	}
	.slick-dots{
		top: -65px;
	}
}

.categoryRows{
	margin-top: 10px;
	[class*="row-"]{
		&:hover{
			.inner{
				&:after{
					display: block;
				}
			}
		}
		.inner{
			&:after{
				display: none;
				content:"";
				position: absolute;
				top: 0;
				bottom: 0;
				height: 100%;
				width: 100%;
			}
		}
		.title{
			display: block;
			position: absolute;
			bottom: 10%;
			left: 10%;
			right: 10%;
			font-size: 18px;
			font-weight: 700;
			text-transform: uppercase;
			z-index: 5;
		}
	}
	img{
		width: 100%;
	}
}

.newsOnMain{
	.inner{
		height: 100%;
		overflow: hidden;
		&:after{
			display: block;
			content:"";
			height: 15%;
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			@include background-image(linear-gradient(rgba($blue, 0), rgba($blue, 1) 60%));
		}
	}	
	.row{
		width: 50%;
		line-height: 1.4;
		&:after{
			display: block;
			content:"";
			width: 2px;
			height: 85%;
			position: absolute;
			right: 0px;
			bottom: 0;
			top: 0;
			margin: auto 0;
		}
	}
	.title{
		display: block;
		font-size: 14px;
		font-weight: 700;
		margin-bottom: 15px;
		&:hover{
			text-decoration: underline;
		}
	}
	p{
		font-size: 12px;
	}
}

.aboutBlock{
	margin-top: -25%;
	position: relative;
	overflow: hidden;
	&>.inner{
		&:after{
			display: block;
			content:"";
			height: 15%;
			width: 100%;
			position: absolute;
			overflow: hidden;
			bottom: 0;
			left: 0;
			@include background-image(linear-gradient(rgba($green, 0), rgba($green, 1) 40%));
		}
	}
	.inner{
		height: 100%;
	}
	img{
		width: 100%;
		height: auto;
	}
	.text{
		
		padding-bottom: 25px;
		height: 45%;
	}
	.more{
		padding: 0 10px;
		line-height: 24px;
		height: 24px;
		font-size: 12px;
		display: inline-block;
		position: absolute;
		bottom: 0;
		z-index: 10;
		@include border-radius(8px 8px 8px 8px / 13px 11px 11px 11px);
		&:before{
			content: "\f055";
			display: inline-block;
			font-family: "FontAwesome";
			margin-right: 5px;
			font-weight: normal;
			font-size: 16px;
		}
	}
}

.logosCarusel{
	.navi{
		width: 12.3%;
		float: left;
		@include box-sizing(border-box);
		padding: 0 5px;
		.inner{
			padding: 10% 10%;
			@include box-sizing(border-box);
			height: 100%;
		}
		.cTitle{
			font-size: 15px;
			text-transform: uppercase;
			span{
				span{
					font-size: 31px;
					font-weight: 700;
					text-transform: none;
				}
			}
		}
	}
	.row{
		margin-right: 0 !important;
		padding: 0 5px ;
		.inner{
			height: 100%;
		}
	}
	.cWrapper{
		width: auto;
		margin-left: 12.3%;
		img{
			max-width: 80%;
			max-height: 80%;
			@include alignCenter();
		}
	}
	.slick-prev{
		left: -12%;
	}
	.slick-next{
		left: -4%;
		@include flipH();
	}
	.slick-prev, .slick-next{
		bottom: 15%;
		top:auto;
		@include sprite($arr-icon-blue);
		content:"";
		&:before{
			display: none;
		}
		&:hover{
			background-position: $arr-icon-white-offset-x $arr-icon-white-offset-y;
		}
	}
	.slick-slider{
		margin-bottom: 0; 
	}
}























@import "additional/media";